// Place all the styles related to the answers controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.new-answer {
  font-weight: bolder;
  text-decoration: underline;
  a, a:visited {color: red;}
}

.answer {
  margin: 15px 5px;
}
