/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

table {
  width:100%;
}

td, th {
  padding: 2px 7px;
}

hr.nonspaced {
  margin: 0;
  padding: 0;
}

h1 { font-size: 1.8em; }

textarea {
  width: 700px;
  height: 160px;
  vertical-align: top;
  margin-left: 10px;
}

.filler {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}

div.inlined { display: inline-block; }

.inline-block {
  display: inline-block;
}

.hover-emphasis {
  &:hover { background-color: darkgray; }
}

.navbar {
  li:hover { background-color: darkgray; }
}

.navbar-signin {
  label {
    margin: 1px 6px 1px 10px;
    padding: 0;
    height: 2em;
  }
  input {
    margin: 1px 0 1px 0;
    width: 120px;
    padding: 0;
    height: 2em;
  }
  input[type="submit"] {
    margin: 1px 0 1px 10px;
    padding: 0;
    width: 70px;
    height: 2em;
  }
}

.navbar-signed, .navbar-signin {
  height: 32px;
  padding: 5px;
  position: relative;
  bottom: 0;
  margin: 9px 0;
}

.edit-link, .delete-link, .add-link, .logout-link, .signup-link, .forgot-password-link, .forward-link, .backward-link, .up-link, .down-link {
  display: inline-block;
  &:hover{ background-color: darkgray; }
  vertical-align: middle;
  margin: 0;
}

.edit-link, .delete-link, .add-link, .logout-link, .signup-link, .forgot-password-link, .forward-link, .backward-link {
  background-size: 32px;
  width: 32px;
  height: 32px;
}

.up-link, .down-link {
  background-size: 16px;
  width: 16px;
  height: 16px;
}

.edit-link {
  background-image: image-url('edit.png');
}

.delete-link {
  background-image: image-url('delete.png');
}

.add-link {
  background-image: image-url('add.png');
}

.logout-link {
  background-image: image-url('logout.png');
}

.signup-link {
  background-image: image-url('signup.png');
}

.forgot-password-link {
  background-image: image-url('forgot-password.png');
}

.forward-link {
  background-image: image-url('forward.png');
}

.backward-link {
  background-image: image-url('backward.png');
}

.up-link {
  background-image: image-url('up.png');
}

.down-link {
  background-image: image-url('down.png');
}
