// Place all the styles related to the questions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.new-question {
  font-weight: bolder;
  text-decoration: underline;
  a, a:visited {color: red;}
}

.question_text {
  margin: 0;
  .filler{
    padding: 15px 5px;
  }
  width: 620px;
}

.question_num_answers {
  width: 100px;
  display: inline-block;
}
